page-seesaleorder {
    .p-tb{
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .margin-tb{
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .p-col{
        padding: 2px;
    }
}
