<ion-header>
  <ion-navbar color="bananap">
    <ion-title>{{'Elegir tercero' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button  color="primary" (click)="cerrar()">Cerrar</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- -->
        <ion-searchbar placeholder="{{'Buscar'|translate}}"  (ionInput)="buscar($event)" ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid no-padding>
    <ion-list>
      <button ion-item class="paddinglr" *ngFor="let c of clients" (click)="close(c)">
        <h2><b>{{ c.business_name }}</b></h2>
        <p *ngIf=" c.phone != [''] && c.phone != null ">{{ c.phone }}</p>
      </button>
    </ion-list>
  </ion-grid>
</ion-content>
