<ion-header>
	<ion-navbar color="bananap">
		<ion-grid no-padding>
			<ion-row no-padding>
				<ion-col col-1 no-padding>
					<table>
						<tr>
							<td>
								<ion-buttons start>
									<button ion-button icon-only>
										<ion-icon name="home"></ion-icon>
									</button>
								</ion-buttons>
							</td>
							<td>
								<ion-title text-left>{{'Sucursales' | translate}}</ion-title>
							</td>
						</tr>
					</table>
				</ion-col>
				<ion-col col-11 no-padding>
					<ion-buttons end text-end>
						<button ion-button icon-only (click)="addBranchOffice(client)">
						<ion-icon name="add"></ion-icon>
					</button>
					</ion-buttons>
				</ion-col>
			</ion-row>
		</ion-grid> 
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<button ion-item class="paddinglr fuente" *ngFor="let c of branchOffice" (click)="seeBranchOffice(c)">
			<ion-row>
				<ion-col>
					<span><b>{{'Nombre'| translate}}: {{c.name}}</b></span>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="c.phone != null">
				<ion-col>
					<span>{{'Teléfono'| translate}}: {{c.phone}}</span>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="c.phone_2 != null">
				<ion-col>
					<span>{{'Teléfono 2'| translate}}: {{c.phone_2}}</span>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="c.email != null">
				<ion-col>
					<span>{{'Correo'| translate}}: {{c.email}}</span>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="c.city != null">
				<ion-col>
					<span>{{'Ciudad'| translate}}: {{c.city}}</span>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="c.state != null">
				<ion-col>
					<span>{{'Estado'| translate}}: {{c.state}}</span>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="c.country != null">
				<ion-col>
					<span>{{'País'| translate}}: {{c.country}}</span>
				</ion-col>
			</ion-row>
		</button>
	</ion-list>
</ion-content>
