<ion-header>
	<!-- <ion-navbar color="bananap">
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
		<ion-grid no-padding>
			<ion-row no-padding>
				<ion-col col-1 no-padding>
					<table>
						<tr>
							<td>
								<ion-buttons start>
									<button ion-button icon-only>
										<ion-icon name="contact"></ion-icon>
									</button>
								</ion-buttons>
							</td>
							<td>
								<ion-title text-left>{{ 'Clientes' | translate}}</ion-title>
							</td>
						</tr>
					</table>
				</ion-col>
				<ion-col col-11 no-padding>
					<ion-buttons end text-end>
						<button ion-button icon-only (click)="settings()">
							<ion-icon name="cog"></ion-icon>
						</button>
					</ion-buttons>
				</ion-col>
			</ion-row>
		</ion-grid> 
	</ion-navbar> -->
	<ion-navbar color="bananap">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-grid no-padding>
			<ion-row no-padding nowrap>
				<ion-col col-xs>
					<ion-buttons start>
						<button ion-button icon-only>
							<ion-icon name="contact"></ion-icon>
						</button>
					</ion-buttons>
				</ion-col>
				<ion-col col-xs align-self-center>
					<ion-title text-nowrap>{{ 'Clientes' | translate}}</ion-title>
				</ion-col>
				<ion-col col-xs>
					<ion-buttons end text-end>
						<button ion-button icon-only (click)="settings()">
							<ion-icon name="cog"></ion-icon>
						</button>
					</ion-buttons>
				</ion-col>
			</ion-row>
		</ion-grid> 
	</ion-navbar>
</ion-header>
<!-- fin de Header-->
<ion-content padding>
	<ion-grid no-padding>
		<ion-row>
			<ion-col col-2 text-center align-self-center>
				<ion-buttons start>
					<button ion-button icon-only clear color="bananaf" (click)="addClient()">
						<ion-icon name="person-add"></ion-icon>
					</button>
				</ion-buttons>	
			</ion-col>
			<ion-col col-10>
				<ion-searchbar [(ngModel)]="terms" placeholder="{{'Buscar'|translate}}"></ion-searchbar>
			</ion-col>
		</ion-row>
	</ion-grid>
	<div *ngIf=" this.on == 1">
		<ion-card>
			<ion-card-content>
				No tiene acceso comuniquese con el Director
			</ion-card-content>
		</ion-card>
	</div>
	<div *ngIf=" this.on == 2">
		<ion-card>
			<ion-card-content>
				No posee un cargo
			</ion-card-content>
		</ion-card>
	</div>

	<ion-list>

		<button ion-item *ngFor="let c of clients | search : terms" class="paddinglr fuente" (click)="openPage(c)">
		<!-- 	<ion-avatar item-left>
				<img src="{{c.flag}}">
			</ion-avatar> -->
			<span><b>{{ 'Razón Social' | translate}} : {{c.business_name}}</b></span>
			
			<span *ngIf="c.business_name != c.alias && c.alias != null"> ({{ c.alias }})</span><br>
			<span>
				<span  *ngIf="c.tradename != null && c.business_name != c.tradename">{{ 'Nombre Comercial' | translate}}: {{ c.tradename }}<br> </span>
				Cif: {{ c.cif }} <br>
				<span *ngIf=" c.address != [''] && c.address != null ">

					{{ 'Dirección' | translate}}: {{ c.address }} <br>
				</span>
				<!-- {{ c.city }}, {{ c.state }} <br> -->
				<span *ngIf=" c.phone != [''] && c.phone != null " >{{ 'Teléfono' | translate}}: {{ c.phone }}&nbsp; <br></span>
				<span *ngIf=" c.email != [''] && c.email != null "> {{ 'Correo' | translate}}: {{ c.email }}<br></span>
				<span *ngIf=" c.name_sale_represent != [''] && c.name_sale_represent != null "> <b> {{ 'Representante de venta' | translate}}:</b> {{ c.name_sale_represent }}</span>
			</span>
		</button>

	</ion-list>
</ion-content>