page-addordersale {
    .paddinglr{
		padding-left: 0px;
		padding-right: 0px;
	}
	.margin-tb{
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .swiper-slide{
        overflow-y: scroll;
        display: block;
    }

    .boton-w{
        width: 12%;
    }

    .toast-container{
        background-color: yellow;
    }
}
