<ion-header>
    <ion-navbar color="bananap">
        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col col-1 no-padding>
              <table>
                <tr>
                  <td>
                    <ion-buttons start>
                      <button ion-button icon-only>
                        <ion-icon name="home"></ion-icon>
                      </button>
                    </ion-buttons>
                  </td>
                  <td>
                    <ion-title text-left>{{'Nueva sucursal' | translate}}</ion-title>
                  </td>
                </tr>
              </table>
            </ion-col>
            <ion-col col-11 no-padding>
              <ion-buttons end text-end>
                <button ion-button icon-only>
                <ion-icon name="more"></ion-icon>
              </button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </ion-grid> 
      </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="myForm" (ngSubmit)="addBranchOffice()"> 
    <ion-grid no-padding>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-input formControlName="name" type="text" placeholder="{{'Nombre'|translate}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-input formControlName="phone" type="text" placeholder="{{'Teléfono'|translate}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-input formControlName="phone_2" type="text" placeholder="{{'Teléfono 2'|translate}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-input formControlName="fax" type="text" placeholder="{{'Fax'|translate}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{'Envío'|translate}}</ion-label>
            <ion-toggle [(ngModel)]="is_ship_to" formControlName="is_ship_to" checked="false"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{'Facturar'|translate}}</ion-label>
            <ion-toggle [(ngModel)]="is_bill_to" formControlName="is_bill_to" checked="false"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{'Pago'|translate}}</ion-label>
            <ion-toggle [(ngModel)]="is_pay_from" formControlName="is_pay_from" checked="false"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{'Remitente'|translate}}</ion-label>
            <ion-toggle [(ngModel)]="is_remit_to" formControlName="is_remit_to" checked="false"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{'fecha de cumpleaños' | translate}}</ion-label>
              <ion-datetime formControlName="birthday" displayFormat="DD/MMM/YYYY"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row> -->
      <div formGroupName="localization">
        <ion-row>
          <ion-col>
            <ion-label>{{ 'Localización' |translate}}</ion-label>
            <ion-item no-padding>
              <ion-input formControlName="address_1" type="text" placeholder="{{ 'Dirección'| translate}}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <ion-input formControlName="postal" type="text" placeholder="{{'Código postal'| translate}}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <ion-label>{{'País'|translate}}</ion-label>
                <ion-select [(ngModel)]="country_id" (ionChange)="getstate(country_id)" interface="popover" formControlName="country_id">
                  <ion-option *ngFor="let country of countries" value="{{ country.id }}" [selected]="country == country.text" > {{ country.text }} </ion-option>
                </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <ion-label>{{'Estado'|translate}}</ion-label>
              <ion-select [(ngModel)]="state_id" interface="popover" (ionChange)="getcity(state_id)" formControlName="state_id">
                <ion-option *ngFor="let state of states" value="{{ state.id }}" [selected]="state == state.text" > {{ state.text }} </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <ion-label>{{'Ciudad'|translate}}</ion-label>
                <ion-select [(ngModel)]="city_id" interface="popover" formControlName="city_id">
                  <ion-option *ngFor="let city of cities" value="{{ city.id }}" [selected]="city == city.text"> {{ city.text }} </ion-option>
                </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <ion-row padding-top>
        <ion-col col-12 text-center>
          <button ion-button icon-left full color="bananap" type="submit" [disabled]="!myForm.valid">
            <ion-icon name="briefcase"></ion-icon>
            {{'crear sucursal'|translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
