<ion-header>

  <ion-navbar color="bananap">
		<ion-grid no-padding>
			<ion-row no-padding>
				<ion-col col-1 no-padding>
					<table>
						<tr>
							<td>
								<ion-buttons start>
									<button ion-button icon-only>
										<ion-icon name="clipboard"></ion-icon>
									</button>
								</ion-buttons>
							</td>
							<td>
								<ion-title text-left>{{'Producto simple'| translate}}</ion-title>
							</td>
						</tr>
					</table>
				</ion-col>
				<ion-col col-11 no-padding>
						
				</ion-col>
			</ion-row>
		</ion-grid>
  </ion-navbar>
  <ion-navbar class="sizenavbar">
		<ion-grid no-padding>
			<ion-row>
				<ion-col col-6>
				<ion-buttons start>
						<button ion-button icon-only (click)="close()">
							<ion-icon name="close" color="dark"></ion-icon>
						</button>
					</ion-buttons>
				</ion-col>
				<ion-col col-6>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-navbar>
</ion-header>


<ion-content no-padding>
  <form [formGroup]="myForm" (ngSubmit)="postProductDetail()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-input formControlName="name" type="text" placeholder="{{'Nombre'|translate}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-input [(ngModel)]="reference" formControlName="reference" type="text" placeholder="{{'Referencia'|translate}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-input formControlName="description" type="text" placeholder="{{'Descripción'|translate}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{'Tipo'| translate}}</ion-label>
            <ion-select [(ngModel)]="type" formControlName="type" interface="popover">
              <ion-option *ngFor="let t of type_products" value="{{ t.id }}" > {{ t.text }} </ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{'Vendible'| translate}}</ion-label>
            <ion-checkbox formControlName="is_salable" [(ngModel)]="is_salable" color="dark" checked="false"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{'Comprable'| translate}}</ion-label>
            <ion-checkbox formControlName="is_purchasable" [(ngModel)]="is_purchasable" color="dark" checked="false"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{'Fabricante'| translate}}</ion-label>
            <ion-select  [(ngModel)]="manufacture_id"  formControlName="manufacture_id" interface="popover">
              <ion-option *ngFor="let m of manufacturers" value="{{ m.id }}" > {{ m.text }} </ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{'Categoría'| translate}}</ion-label>
            <ion-select [(ngModel)]="category_id" formControlName="category_id" interface="popover">
              <ion-option *ngFor="let c of categories" value="{{ c.id }}" > {{ c.text }} </ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{'Unidad'| translate}}</ion-label>
            <ion-select [(ngModel)]="unit_id" formControlName="unit_id" interface="popover">
              <ion-option *ngFor="let u of units" value="{{ u.id }}" > {{ u.text }} </ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{'Impuesto'| translate}}</ion-label>
            <ion-select [(ngModel)]="tax_id" formControlName="tax_id" interface="popover">
              <ion-option *ngFor="let t of taxes" value="{{ t.id }}" > {{ t.text }} </ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <br><br><br>  
      <div formGroupName="product_details">
        <ion-row>
          <ion-col>
            <ion-label>{{ 'Detalle de producto' |translate}}</ion-label>
            <ion-item>
              <ion-label>{{'Condición'| translate}}</ion-label>
              <ion-select [(ngModel)]="condition_id" formControlName="condition_id" interface="popover">
                <ion-option *ngFor="let c of conditions" value="{{ c.id }}" > {{ c.text }} </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <ion-input formControlName="reference" type="text" placeholder="{{ 'Referencia de detalle'| translate}}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <ion-input formControlName="name" type="text" placeholder="{{'Nombre de detalle'| translate}}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <ion-input formControlName="sku" type="text" placeholder="{{'SKU'| translate}}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <ion-input formControlName="ean13" type="text" placeholder="{{'EAN13'| translate}}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <ion-input formControlName="upc" type="text" placeholder="{{'UPC'| translate}}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <ion-input formControlName="cost" type="text" placeholder="{{'Costo'| translate}}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <ion-input formControlName="sale_price" type="text" placeholder="{{'Precio venta'| translate}}"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
        <ion-row padding-top>
          <ion-col col-12 text-center>
            <button ion-button icon-left full color="bananap" type="submit" [disabled]="!myForm.valid">
						<ion-icon name="briefcase"></ion-icon>
						{{'crear producto'|translate}}
					</button>
				</ion-col>
			</ion-row>
    </ion-grid>
  </form>
</ion-content>
