page-products {
    
    .boton{
        border-radius: 50%;
        color: #525252; 
    }

    .fuente{
        font-family: roboto;
        color: #525252;
        font-size: 1.3rem;
    }
    .card{
        height: 100%;
    }

    .imagen{
        background: #cccccc;
        display: block;
        padding: 03px;
        height: 100px;
        width: 100px;
    }

    .title{
        font-size: 1.6rem;
    }

    .detail{
        font-size: 1.3rem;
        color: #525252;
    }

    .card{
        padding: 03px 10px;
    }

    .list{
        font-size: 1.3rem;
    }
}