page-orders {
    .icon{
        border-radius: 50%;
        color: #525252; 
    }

    $button-md-border-radius: 50%;
    $button-md-height: 4.5em;
    $card-md-title-font-size: 1.0rem;

    .buttonr{
        border-radius: 50%;
        height: 3.9em;
        width: 3.9em;
    }

    .buttonx{
        height: 80%;
        width: 100%;
    }

    .roww{
        display: flex;
        align-items: center;
    }

    .row1{
        display: flex;
        align-items: center;
    }

    // .img{
    //     height: 150px;
    //     width: 150px;

    // }

    p{
        max-height: 40px;       
        line-height: 18px !important;
    }
    
    .paddinglr{
		padding-left: 0px;
		padding-right: 0px;
	}
}