<ion-header>
	<ion-navbar color="bananap">
		<ion-grid no-padding>
			<ion-row no-padding>
				<ion-col col-1 no-padding>
					<table>
						<tr>
							<td>
								<ion-buttons start>
									<button ion-button icon-only>
										<ion-icon name="cart"></ion-icon>
									</button>
								</ion-buttons>
							</td>
							<td>
								<ion-title text-left>{{'Pedidos' | translate}}</ion-title>
							</td>
						</tr>
					</table>
				</ion-col>
				<ion-col col-11 no-padding>
					<ion-buttons end text-end>
						<button ion-button icon-only>
						<ion-icon name="more"></ion-icon>
					</button>
					</ion-buttons>
				</ion-col>
			</ion-row>
		</ion-grid> 
	</ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-grid>
    <ion-row>
      <ion-col col-11>
        <ion-searchbar class="search"></ion-searchbar>
      </ion-col>
      <ion-col col-1>
        <button ion-button icon-only color="light" class="buttonx">
          <ion-icon name="list"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col col-12 no-padding>
          <ion-slides no-padding>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="cart"></ion-icon></button>
            </ion-slide>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="phone-portrait"></ion-icon></button>
            </ion-slide>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="desktop"></ion-icon></button>
            </ion-slide>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="glasses"></ion-icon></button>
            </ion-slide>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="home"></ion-icon></button>
            </ion-slide>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="musical-notes"></ion-icon></button>
            </ion-slide>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="paw"></ion-icon></button>
            </ion-slide>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="shirt"></ion-icon></button>
            </ion-slide>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="tennisball"></ion-icon></button>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row no-padding class="roww">
        <ion-col no-padding col-4 col-md-3 *ngFor="let p of products">
          <ion-card (click)="product()" no-padding>
            <img class="img" src="assets/imgs/{{p.img}}">
            <!-- <ion-img width="80" height="80" src="assets/imgs/{{p.img}}"></ion-img> -->
            <ion-card-content>
              <ion-card-title>
                {{p.precio}}
              </ion-card-title>
              <p>
                {{p.detail}}
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr>
    <br>
    <!-- <div class="row1">
    <ion-card *ngFor="let p of products" (click)="product()" no-padding>
        <img class="img" src="assets/imgs/{{p.img}}">
       <ion-img src="assets/imgs/{{p.img}}"></ion-img>
        <ion-card-content>
          <ion-card-title>
            {{p.precio}}
          </ion-card-title>
          <p>
            {{p.detail}}
          </p>
        </ion-card-content>
      </ion-card>
    </div> -->
    <!-- <ion-col align-self-stretch>
        <ion-card>
          <img src="assets/imgs/icon.png"/>
          <ion-card-content>
            <ion-card-title>
              BsS. 593
            </ion-card-title>
            <p>
              The most popular industrial.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col align-self-stretch>
        <ion-card>
          <img src="assets/imgs/bananaApp.png"/>
          <ion-card-content>
            <ion-card-title>
              BsS. 1000
            </ion-card-title>
            <p>
              The most popular industrial.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col align-self-stretch>
        <ion-card>
          <img no-padding src="assets/imgs/bananaApp.png"/>
          <ion-card-content>
            <ion-card-title>
              BsS. 1000
            </ion-card-title>
            <p>
              The most popular industrial.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col> -->
    <!-- <ion-row>
      <ion-col align-self-stretch>
        <ion-card (click)="product()">
          <img src="assets/imgs/calabaza.jpg"/>
          <ion-card-content>
            <ion-card-title>
              BsS. 743
            </ion-card-title>
            <p>
              The most popular industrial.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col align-self-stretch>
        <ion-card>
          <img src="assets/imgs/icon.png"/>
          <ion-card-content>
            <ion-card-title>
              BsS. 593
            </ion-card-title>
            <p>
              The most popular industrial.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col align-self-stretch>
        <ion-card>
          <img src="assets/imgs/bananaApp.png"/>
          <ion-card-content>
            <ion-card-title>
              BsS. 1000
            </ion-card-title>
            <p>
              The most popular industrial.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col align-self-stretch>
        <ion-card>
          <img no-padding src="assets/imgs/bananaApp.png"/>
          <ion-card-content>
            <ion-card-title>
              BsS. 1000
            </ion-card-title>
            <p>
              The most popular industrial.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->
</ion-content>
