<ion-header>
	<ion-navbar color="bananap">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
		<ion-grid no-padding>
			<ion-row no-padding>
				<ion-col col-1 no-padding>
					<table>
						<tr>
							<td>
								<ion-buttons start>
									<button ion-button icon-only>
										<ion-icon name="list"></ion-icon>
									</button>
								</ion-buttons>
							</td>
							<td>
								<ion-title text-left>{{'Pedidos' | translate}}</ion-title>
							</td>
						</tr>
					</table>
				</ion-col>
				<ion-col col-11 no-padding>
          <ion-buttons end text-end>
            <button ion-button icon-only (click)="addOrderSale()">
              <ion-icon name="add-circle"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
			</ion-row>
		</ion-grid> 
	</ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-grid>
    <ion-row>
      <ion-col>
          <!--  -->
        <ion-searchbar placeholder="{{'Buscar'|translate}}" (ionInput)="buscar($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-list>
      <button ion-item class="paddinglr" *ngFor="let o of ordersale" (click)="order(o)">
        <h2>{{ o.reference }}</h2>
        <p>{{ o.third_name }}</p>
        <p>{{ o.valid_from }}</p>
        <p><b> {{ o.neto_total | number:'1.1-3' }}</b></p>
        <ion-badge *ngIf="'PENDIENTE POR ENVIAR' == o.status_name" item-end color="bananadan">{{ o.status_name }}</ion-badge>
        <ion-badge *ngIf="'PENDIENTE POR VALIDAR' == o.status_name" item-end color="bananadan">{{ o.status_name }}</ion-badge>
        <ion-badge *ngIf="'VALIDADO' == o.status_name" item-end color="bananaps">{{ o.status_name }}</ion-badge>
        <ion-badge *ngIf="'ANULADO' == o.status_name" item-end color="bananadanger">{{ o.status_name }}</ion-badge>
        <ion-badge *ngIf="'PROCESADO PARCIALMENTE' == o.status_name" item-end color="light">{{ o.status_name }}</ion-badge>
        <ion-badge *ngIf="'PROCESADO' == o.status_name" item-end color="bananasecondary">{{ o.status_name }}</ion-badge>
      </button>
    </ion-list>
  </ion-grid>

  <!-- <ion-grid>
    <ion-row>
      <ion-col col-11>
        <ion-searchbar class="search" placeholder="{{'Buscar'|translate}}"></ion-searchbar>
      </ion-col>
      <ion-col col-1>
        <button ion-button icon-only color="light" class="buttonx">
          <ion-icon name="list"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col col-12 no-padding>
          <ion-slides no-padding>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="cart"></ion-icon></button>
            </ion-slide>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="phone-portrait"></ion-icon></button>
            </ion-slide>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="desktop"></ion-icon></button>
            </ion-slide>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="glasses"></ion-icon></button>
            </ion-slide>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="home"></ion-icon></button>
            </ion-slide>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="musical-notes"></ion-icon></button>
            </ion-slide>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="paw"></ion-icon></button>
            </ion-slide>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="shirt"></ion-icon></button>
            </ion-slide>
            <ion-slide col-2 no-padding>
              <button ion-button icon-only color="light" class="buttonr"><ion-icon name="tennisball"></ion-icon></button>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row no-padding class="roww">
        <ion-col no-padding col-4 col-md-3 col-lg-2 *ngFor="let p of products">
          <ion-card (click)="product()" no-padding>
            <img class="img" src="assets/imgs/{{p.img}}">
            <ion-card-content>
              <ion-card-title>
                {{p.precio}}
              </ion-card-title>
              <p>
                {{p.detail}}
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid> -->
</ion-content>
